h1 {
    color: gold;
    font-family: comic sans ms;
}

h2 {
    color: gold;
    font-family: comic sans ms;
}

h3 {
    color: gold;
    font-family: comic sans ms;
}

h4 {
    color: gold;
    font-family: comic sans ms;
}

h5 {
    color: gold;
    font-family: comic sans ms;
}

h6 {
    color: gold;
    font-family: comic sans ms;
}

h7 {
    color: gold;
    font-family: comic sans ms;
    font-size: x-small;
}

p {
    color: gold;
    font-family: comic sans ms;
}

button {
    color: white;
    background-color: darkred;
    font-family: comic sans ms;
}

body {
    background-color: red;
}

input {
    color: white;
    background-color: darkred;
    font-family: comic sans ms;
}

a {
    font-family: comic sans ms;
}